<% provide(:title, "BPM on Rails - система управления бизнес-процессами") %>
<% provide(:keywords, "BPM on Rails - система управления бизнес-процессами") %>
<% provide(:description, "BPM on Rails - система управления бизнес-процессами") %>

<%= render 'shared/navigation_bpm' %>
  
<div id="home2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <i class="fa fa-cubes" style="font-size: 130px;"></i>
      <h1>BPM on Rails - система управления бизнес-процессами</h1>
      <p>Внедрение систем для управление бизнес-процессами (Business Process Management Systems) для компаний малого и среднего бизнеса. Своя платформа BPM on Rails.</p> 
    </div>              
  </div>  
</div>  

<div id="tasks2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Решаемые задачи</h2>
    </div>

    <div class="row">           
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInLeft showdelay2">
          <i class="fa fa-bullhorn"></i>
          <h3>Процессы согласования</h3>
          <p>Автоматизация процессов согласования</p>
        </div>
      </div>            
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInUp showdelay2">
          <i class="fa fa-child"></i>
          <h3>Процессы обслуживания</h3>
          <p>Автоматизация процессов обслуживания</p>             
        </div>
      </div>          
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInRight showdelay2">
          <i class="fa fa-tasks"></i>
          <h3>Управление задачами</h3>
          <p>Распределение задач и контроль сроков выполнения</p>             
        </div>
      </div>            
    </div>
        
    <div class="row">           
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInLeft showdelay2">
          <i class="fa fa-male"></i>
          <h3>Выполнение SLA</h3>
          <p>Настройка соглашения об уровне обслуживания (Service Level Agreement) и обеспечение выполнения</p>
        </div>
      </div>            
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInUp showdelay2">
          <i class="fa fa-bar-chart-o"></i>
          <h3>Автоматический расчет KPI</h3>
          <p>Расчет индикаторов достижения успеха (Key Performence Indicators) по выполенению задач сотрудниками</p>
        </div>
      </div>          
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInRight showdelay2">
          <i class="fa fa-calculator"></i>
          <h3>Автоматизация решений</h3>
          <p>Настройка логических компонентов для автоматизации решений по определенным условиям. Например, автоматическое согласование закупок менее $1000</p>
        </div>
      </div>            
    </div>
              
  </div>
      
</div>    

<div id="price2" class="fullSection">
      <div class="container">
      
        <div class="section-heading">
          <h2>Цены</h2>
        </div>
        
        <div class="row">
          
          <div class="col-md-4 col-sm-4 wow fadeInUp showdelay2">
            <div class="price-box text-center"> 
              <div class="price-title">
                ОДИН ПРОЦЕСС 
                <span>50 т.р.</span>
              </div>
              <ul class="unstyled price-list">
                <li>Автоматизация одного процесса под ключ, обучение и внедрение</li>
                <li>Цена указана без учета интеграции для количества участников не более 5</li>
              </ul>
            </div>
          </div>
                    
          <div class="col-md-4 col-sm-4 wow fadeInUp showdelay2">
            <div class="price-box text-center"> 
              <div class="price-title">
                ПРОЦЕСС + ИНТЕГРАЦИЯ 
                <span>70 т.р.</span>
              </div>
              <ul class="unstyled price-list">
                <li>Автоматизация одного процесса под ключ, обучение и внедрение</li>
                <li>Интеграция с одной системой с использованием web-сервиса (1C, SAP)</li>               
              </ul>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-4 wow fadeInUp showdelay2">
            <div class="price-box text-center"> 
              <div class="price-title">
                КОМПЛЕКСНОЕ РЕШЕНИЕ
                <span>190 т.р.</span>
              </div>
              <ul class="unstyled price-list">
                <li>Автоматизация под ключ до 3-х процессов, обучение и внедрение</li>
                <li>Интеграция web-сервисами до 3-х систем (1С, SAP и др.)</li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>      
</div> 

<div id="tech2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Используемые технологии</h2>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("html5.jpg") %>
          </div>
          <div class="team-info">
            <h3>HTML5</h3>
            <b>Поддержка всех современных браузеров</b>
            <p>Наше решение построено на HTML5, CSS3, jQuery 1.11. Поддержка работы в браузерах: Chrome, Firefox, IE 8+, Safari, Opera.</p>
          </div>
        </div>                          
      </div>
      
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("bootstrap3.jpg") %>
            
          </div>
          <div class="team-info">
            <h3>Twitter Bootstrap</h3>
            <b>Привычный пользовательский интерфейс</b>
            <p>BPM on Rails использует популярный фреймворк Twitter Bootstrap, поэтому элементы интерфейса будут привычны большинству пользователей.</p>
          </div>
        </div>                          
      </div>
      
    </div>
    <!-- /row -->
    
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("ror.jpg") %>          
          </div>
          <div class="team-info">
            <h3>Ruby on Rails</h3>
            <b>Быстрая разработка приложения</b>
            <p>Решение построено на Ruby on Rails. Этот популярный фрейморк обеспечивает быструю разработку и легкий поиск программистов.</p>
          </div>
        </div>                          
      </div>
      
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("capistrano.jpg") %>
            
          </div>
          <div class="team-info">
            <h3>Capistrano</h3>
            <b>Быстрое обновление приложения</b>
            <p>BPM on Rails - рожден для изменений. Capistrano обеспечивает инструментарий для быстрой модификации приложения.</p>
          </div>
        </div>                          
      </div>
      
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("graphviz.jpg") %>          
          </div>
          <div class="team-info">
            <h3>Graphviz</h3>
            <b>Визуализация бизнес-процессов</b>
            <p>Использование Graphviz позволяет визуализировать бизнес-процессы ввиде наглядных диаграмм состояний.</p>
          </div>
        </div>                          
      </div>
      
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("rspec.jpg") %>
          </div>
          <div class="team-info">
            <h3>Rspec</h3>
            <b>Автоматические тесты</b>
            <p>Использование автоматизированного тестирования Rspec позволяет минимизировать ошибки после доработок приложения.</p>
          </div>
        </div>                          
      </div>
      
    </div>
  </div>
      
</div> 

<div id="why2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Приемущества</h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Электронные согласования</h3>             
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>
        <p>Автоматизация процессов согласования</p>                        
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Документооборот</h3>
        <p>Электронные документооборот</p>
      </div>
    </div>            
              
  </div>
      
</div> 

<div id="contact2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Контакты</h2>
    </div>
    
    <div class="row">
      <!-- contact form -->
      <div class="col-md-6 col-sm-6">
        <div class="contact-form  wow fadeInLeft showdelay2">
        <%= render 'messages/form' %>
        <div class="clearfix"></div>
        </div>
      </div>
      <!-- ./contact form -->
      
      <!-- address -->
      <div class="col-md-6 col-sm-6">
        <div class="address  wow fadeInRight showdelay2">
          <h3>Связь с нами</h3>
          <ul class="unstyled">
            <li>ООО "Бизнес-Оптимизация"</li>
            <li><i class="fa fa-envelope"></i>info@busation.com</li>
            <li><i class="fa fa-skype"></i>Skype: busation</li>
            <li><i class="fa fa-phone"></i>Тел. в Москве: +7 916 592 6645</li>
            <li><i class="fa fa-phone"></i>Тел. в Новосибирске: +7 913 923 8446</li>                
          </ul>
        </div>
        <div class="social wow fadeInRight showdelay2">
          <h3>Мы в соц. сетях</h3>
          <ul class="social-link">
            <li><a href="https://www.facebook.com/klishevich"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/busation"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/busation"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://plus.google.com/+busation/posts"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        
      </div>
      <!-- ./address -->
      
    </div>
    <!-- /row -->
              
  </div>      
</div> 
<script>
$(document).ready(function(){            
    $("body").backstretch([
      "/images/bg-leopard-dark.jpg"
    ], {duration: 5000, fade: 1000});
}); 
</script>