<% provide(:title, "BPM on Rails - система управления бизнес-процессами") %>
<% provide(:keywords, "bpm on rails, система, управление, бизнес-процессы, автоматизация, оптимизация, москва, новосибирск, смп, малый, средний, бизнес") %>
<% provide(:description, "Внедрение системы управления бизнес-процессами в Москве и Новосибирске. BPM on Rails - лучшая система для оптимизации, автоматизации и управления бизнес-процессами для малого и среднего бизнеса.") %>
<span itemscope itemtype="http://schema.org/LocalBusiness">
<%= render 'shared/navigation_bpm' %>
  
<div id="home2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <i class="fa fa-cubes" style="font-size: 130px;"></i>
      <h1>BPM on Rails - система управления бизнес-процессами</h1>
      <p>Внедрение систем для управление бизнес-процессами (Business Process Management Systems) для компаний малого и среднего бизнеса. Своя платформа BPM on Rails. Управление бизнес-процессами предприятия через веб-интерфейс это легко!</p>
    </div>              
  </div>  
</div>  

<div id="tasks2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Решаемые задачи</h2>
    </div>

    <div class="row">           
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInLeft showdelay2">
          <i class="fa fa-bullhorn"></i>
          <h3>Процессы согласования</h3>
          <p>Автоматизация процессов согласования: согласование закупок, выполнения работ и заданий</p>
        </div>
      </div>            
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInUp showdelay2">
          <i class="fa fa-child"></i>
          <h3>Процессы обслуживания</h3>
          <p>Автоматизация процессов обслуживания: выполнение заказов клиента, выполнение сервисных запросов</p>             
        </div>
      </div>          
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInRight showdelay2">
          <i class="fa fa-tasks"></i>
          <h3>Управление задачами</h3>
          <p>Распределение задач и контроль сроков выполнения, равномерная загрузка персонала</p>             
        </div>
      </div>            
    </div>
        
    <div class="row">           
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInLeft showdelay2">
          <i class="fa fa-male"></i>
          <h3>Выполнение SLA</h3>
          <p>Настройка соглашения об уровне обслуживания (Service Level Agreement) и обеспечение выполнения</p>
        </div>
      </div>            
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInUp showdelay2">
          <i class="fa fa-bar-chart-o"></i>
          <h3>Автоматический расчет KPI</h3>
          <p>Расчет индикаторов достижения успеха (Key Performence Indicators) по выполенению задач сотрудниками</p>
        </div>
      </div>          
      <div class="col-md-4 col-sm-4">
        <div class="icon-box text-center wow fadeInRight showdelay2">
          <i class="fa fa-calculator"></i>
          <h3>Автоматизация решений</h3>
          <p>Настройка логических компонентов для автоматизации решений по определенным условиям. Например, автоматическое согласование закупок менее $1000</p>
        </div>
      </div>            
    </div>
              
  </div>
      
</div>    

<div id="tech2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Используемые технологии</h2>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("html5.jpg") %>
          </div>
          <div class="team-info">
            <h3>HTML5</h3>
            <b>Поддержка всех современных браузеров</b>
            <p>Наше решение построено на HTML5, CSS3, jQuery 1.11. Поддержка работы в браузерах: Chrome, Firefox, IE 8+, Safari, Opera.</p>
          </div>
        </div>                          
      </div>
      
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("bootstrap3.jpg") %>
            
          </div>
          <div class="team-info">
            <h3>Twitter Bootstrap</h3>
            <b>Привычный пользовательский интерфейс</b>
            <p>BPM on Rails использует популярный фреймворк Twitter Bootstrap, поэтому элементы интерфейса будут привычны большинству пользователей.</p>
          </div>
        </div>                          
      </div>
      
    </div>
    <!-- /row -->
    
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("ror.jpg") %>          
          </div>
          <div class="team-info">
            <h3>Ruby on Rails</h3>
            <b>Быстрая разработка приложения</b>
            <p>Решение построено на Ruby on Rails. Этот популярный фрейморк обеспечивает быструю разработку и легкий поиск программистов.</p>
          </div>
        </div>                          
      </div>
      
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("capistrano.jpg") %>
            
          </div>
          <div class="team-info">
            <h3>Capistrano</h3>
            <b>Быстрое обновление приложения</b>
            <p>BPM on Rails - рожден для изменений. Capistrano обеспечивает инструментарий для быстрой модификации приложения.</p>
          </div>
        </div>                          
      </div>
      
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("graphviz.jpg") %>          
          </div>
          <div class="team-info">
            <h3>Graphviz</h3>
            <b>Визуализация бизнес-процессов</b>
            <p>Использование Graphviz позволяет визуализировать бизнес-процессы ввиде наглядных диаграмм состояний.</p>
          </div>
        </div>                          
      </div>
      
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <div class="team-box">
          <div class="team-image">
            <%= image_tag("rspec.jpg") %>
          </div>
          <div class="team-info">
            <h3>Rspec</h3>
            <b>Автоматические тесты</b>
            <p>Использование автоматизированного тестирования Rspec позволяет минимизировать ошибки после доработок приложения.</p>
          </div>
        </div>                          
      </div>
      
    </div>
  </div>
      
</div> 

<div id="why2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Наши преимущества</h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Специализация</h3>             
        <p>Автоматизация и оптимизация бизнес-процессов это наша основная деятельность, именно поэтому мы - ООО "Бизнес-Оптимизация"</p>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Долгосрочное сотрудничество</h3>
        <p>Наша цель - долгосрочное и взаимовыгодное сотрудничество, а не сиеминутная выгода</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Оперативность</h3>             
        <p>Мы работаем быстро и быстро говорим да или нет</p>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Обучаемость в работе</h3>
        <p>Работая с клиентом мы обучаем и обучаемся</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Оптимальные технологии</h3>             
        <p>В наших решениях мы используем современные и надежные технологии</p>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Экспертиза</h3>
        <p>У нас есть экспертиза по автоматизации процессов в крупных компания</p>
      </div>          
    </div>       
              
  </div>      
</div> 

<div id="ui2" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Пользовательский интерфейс</h2>
    </div>
    
    <div class="row">         
      <div class="col-md-3 col-sm-6">
        <div class="pic wow fadeInUp showdelay2">
          <%= link_to image_tag("screen1.jpg", class: "img-responsive img-thumbnail"), image_path("screen1.jpg"), class: "gallery-item" %><div class="img_overlay"></div></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pic wow fadeInUp showdelay2">
          <%= link_to image_tag("screen2.jpg", class: "img-responsive img-thumbnail"), image_path("screen2.jpg"), class: "gallery-item" %><div class="img_overlay"></div></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pic wow fadeInUp showdelay2">
          <%= link_to image_tag("screen3.jpg", class: "img-responsive img-thumbnail"), image_path("screen3.jpg"), class: "gallery-item" %><div class="img_overlay"></div></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pic wow fadeInUp showdelay2">
          <%= link_to image_tag("screen4.jpg", class: "img-responsive img-thumbnail"), image_path("screen4.jpg"), class: "gallery-item" %><div class="img_overlay"></div></a>
        </div>
      </div>
    </div>
    
    <div class="row">         
      <div class="col-md-3 col-sm-6">
        <div class="pic wow fadeInUp showdelay2">
          <%= link_to image_tag("iphone1.jpg", class: "img-responsive img-thumbnail"), image_path("iphone1.jpg"), class: "gallery-item" %><div class="img_overlay"></div></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pic wow fadeInUp showdelay2">
          <%= link_to image_tag("iphone2.jpg", class: "img-responsive img-thumbnail"), image_path("iphone2.jpg"), class: "gallery-item" %><div class="img_overlay"></div></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pic wow fadeInUp showdelay2">
          <%= link_to image_tag("iphone3.jpg", class: "img-responsive img-thumbnail"), image_path("iphone3.jpg"), class: "gallery-item" %><div class="img_overlay"></div></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="pic wow fadeInUp showdelay2">
          <%= link_to image_tag("iphone4.jpg", class: "img-responsive img-thumbnail"), image_path("iphone4.jpg"), class: "gallery-item" %><div class="img_overlay"></div></a>
        </div>
      </div>
    </div>

  </div>
      
</div>

<div id="price2" class="fullSection">
      <div class="container">
      
        <div class="section-heading">
          <h2>Цены</h2>
        </div>
        
        <div class="row">
          
          <div class="col-md-4 col-sm-4 wow fadeInUp showdelay2">
            <div class="price-box text-center" itemscope itemtype="http://schema.org/Product"> 
              <div class="price-title">
                ОДИН ПРОЦЕСС
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <span>60 т.р.</span>
                  <meta itemprop="price" content="60000.00">
                  <meta itemprop="priceCurrency" content="RUB">
                  <link itemprop="availability" href="http://schema.org/InStock">
                </span>
              </div>
              <ul class="unstyled price-list">
                <li><span itemprop="name">Внедрение системы управления бизнес-процессами</span>, обучение и внедрение</li>
                <li><span itemprop="description">Цена указана без учета интеграции для количества участников не более 5</span></li>
              </ul>
            </div>
          </div>
                    
          <div class="col-md-4 col-sm-4 wow fadeInUp showdelay2">
            <div class="price-box text-center"> 
              <div class="price-title">
                ПРОЦЕСС + ИНТЕГРАЦИЯ 
                <span>90 т.р.</span>
              </div>
              <ul class="unstyled price-list">
                <li>Автоматизация одного процесса под ключ, обучение и внедрение</li>
                <li>Интеграция с одной системой с использованием web-сервиса (1C, SAP)</li>               
              </ul>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-4 wow fadeInUp showdelay2">
            <div class="price-box text-center"> 
              <div class="price-title">
                КОМПЛЕКСНОЕ РЕШЕНИЕ
                <span>250 т.р.</span>
              </div>
              <ul class="unstyled price-list">
                <li>Автоматизация под ключ до 3-х процессов, обучение и внедрение</li>
                <li>Интеграция web-сервисами до 3-х систем (1С, SAP и др.)</li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>      
</div> 

<div id="contact2" class="fullSection">
  <%= render 'shared/contacts' %>     
</div>
</span>