<% provide(:title, "Веб-разработка на Ruby on Rails в Москве от компании Бизнес-Оптимизация, ООО") %>
<% provide(:description, "Веб-разработка на Ruby on Rails в Москве от компания Бизнес-Оптимизация, ООО") %>
<% provide(:keywords, "Веб-разработка, Ruby on Rails, Москва, Новосибирск") %>

<!-- Меню -->
<span itemscope itemtype="http://schema.org/LocalBusiness">
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <div class="hidden-xs">
		    <a class="navbar-brand" href="#"><%= image_tag("logo_bo2.png", alt: "logo", itemprop: "image", width: "36px") %></a>
		    <div class="logo-title page-scroll"><a href="#slider">Бизнес-Оптимизация</a></div> 
		  </div>
		  <div class="visible-xs-block">
		    <a class="navbar-brand" href="#"><%= image_tag("logo_bo2.png", alt: "logo", width: "36px") %></a>
		    <div class="logo-title page-scroll"><a href="#slider">Busation</a></div> 
		  </div>				  
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="top-nav">
		  <ul class="nav navbar-nav navbar-right">
			<li class="page-scroll"><a id="icon-box1" href="#icon-box">Услуги</a></li>
			<li class="page-scroll"><a id="featured1" href="#featured">Клиенты</a></li>
			<li class="page-scroll"><a id="showcase1" href="#showcase">Партнеры</a></li>
			<li class="page-scroll"><a id="team1" href="#team">Команда</a></li>
			<li class="page-scroll"><a id="pricing1" href="#pricing">Цены</a></li>
			<!--li class="page-scroll"><a id="grid1" href="#grid">Афоризмы</a></li-->
			<li class="page-scroll"><a id="contact1" href="#contact">Контакты</a></li>
			<li class="page-scroll"><a id="blog" href="http://blog.busation.com" target="_blank">Блог</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<!-- ./Меню -->			
<!-- Слайдер -->	
<div id="slider" class="fullSection">
	<div class="container">
		
		<!-- fullscreen-slider -->
		<div id="fullscreen-slider" class="carousel slide wow bounceIn showdelay4" data-ride="carousel">
			<!-- Indicators -->
			  <ol class="carousel-indicators">
				<li data-target="#fullscreen-slider" data-slide-to="0" class="active"></li>
				<li data-target="#fullscreen-slider" data-slide-to="1"></li>
				<li data-target="#fullscreen-slider" data-slide-to="2"></li>
			  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
			<div class="item active">
				<div class="slider-caption"> 
					<i class="fa fa-life-ring"></i>
					<h1>Разработка Ruby on Rails</h1>
					<p>Разработка лэндингов, корпоративных сайтов, интернет-магазинов и мобильных API с использованием современных технологий (Ruby on Rails, React.js, Bootstrap). </p>
					<a href="https://youtu.be/J3JKfTqVA5I" class="btn btn-custom btn-lg" target="_blank">Смотреть видео</a>	
				</div>						
			</div>
			<div class="item">
				<div class="slider-caption"> 
					<i class="fa fa-cubes"></i>
					<h2>BPM системы</h2>
					<p>Внедрение систем для управление бизнес-процессами (Business Process Management Systems) для компаний малого и среднего бизнеса. Своя платформа BPM on Rails.</p>	
					<a href="/bpm" class="btn btn-custom btn-lg">Подробнее о BPM</a>	
				</div>
			</div>						
			<div class="item">
				<div class="slider-caption"> 
					<i class="fa fa-paper-plane-o"></i>
					<h2>Реклама в интернете</h2>
					<p>Продвижение сайтов, SEO, контекстная реклама (Google.Adwords, Яндекс.Директ), реклама в соц. сетях (ВКонтакте, Facebook), партнерские программы, вирусный маркетинг.</p>	
					<a href="https://youtu.be/J3JKfTqVA5I" class="btn btn-custom btn-lg" target="_blank">Смотреть видео</a>	
				</div>
			</div>			  						
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#fullscreen-slider" role="button" data-slide="prev">
				<!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
				<span class="fa fa-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#fullscreen-slider" role="button" data-slide="next">
				<!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
				<span class="fa fa-chevron-right"></span>
		  </a>
		</div>
		<!-- fullscreen-slider -->
		
	</div>
	
</div>	
<!-- ./Слайдер -->
			
<!-- Услуги -->
<div id="icon-box" class="fullSection">
	<div class="container">
	
		<div class="section-heading">
			<h2>Услуги</h2>
		</div>
		
		<div class="row">						
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInLeft showdelay2">
					<i class="fa fa-life-ring"></i>
					<h3>Разработка сайтов</h3>
					<p>Разработка сайтов различной сложности: Landing page, Корпоративные сайты, Интернет-магазины, SPA. Используем самые лучшие технологии: Ruby on Rails, React.js, Twitter Bootstrap!</p>	
				</div>
			</div>						
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInUp showdelay2">
					<i class="fa fa-cubes"></i>
					<h3>BPM системы</h3>
					<p>Внедрение систем для управление бизнес-процессами (Business Process Management Systems) для компаний малого и среднего бизнеса. Своя платформа BPM on Rails. </p>
					<a href="/bpm" class="btn btn-custom btn">Подробнее о BPM</a>
				</div>
			</div>					
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInRight showdelay2">
					<i class="fa fa-rocket"></i>
					<h3>Разработка API-приложений</h3>
					<p>Разработка API приложений (мобильных API) и модулей интеграции для интернет-магазинов (Shopify, InSales) и не только (Slack, Facebook, Twitter).</p>					
				</div>
			</div>						
		</div>
		<!-- ./row -->
		
		<div class="row">						
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInLeft showdelay2">
					<i class="fa fa-paper-plane-o"></i>
					<h3>Продвижение сайтов</h3>
					<p>Контекстная реклама с Яндекс.Директом и Google.Adwords. Отчетность и постановка целей с Google.Analytics. Расчет конверсии и эффективности рекламного бюджета. SEO-оптимизация и повышение позиций в бесплатной выдаче поисковых систем.</p>	
				</div>
			</div>						
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInUp showdelay2">
					<i class="fa fa-plane"></i>
					<h3>Продвижение в социальных сетях</h3>
					<p>Реклама и продвижение товаров и услуг в социальных сетях: Facebook, YouTube, ВКонтакте, Twitter, Одноклассники, LinkedIn.</p>
				</div>
			</div>					
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInRight showdelay2">
					<i class="fa fa-umbrella"></i>
					<h3>Сопровождение проектов на Ruby on Rails</h3>
					<p>Сопровождаем, дорабатываем, оптимизируем проекты на Ruby on Rails. Пишем тесты, используем CI. Оказываем услуги развертывания/переноса на другой хостинг. Консультируем, обучаем.</p>						
				</div>
			</div>						
		</div>
		<!-- ./row -->
		
	</div>
			
</div>
<!-- ./Услуги -->

<!-- Клиенты -->
<div id="featured" class="fullSection">
	<div class="container">
	
		<div class="section-heading">
			<h2>Наши клиенты</h2>
		</div>
		
		<!-- featured-list -->	
		<div id="featured-list" class="owl-carousel  wow fadeInUp showdelay2">
	
			<div class="featured-box item text-center">
				<%= image_tag("_ran.jpg", class: "img-responsive img-thumbnail") %>

				<div class="featured-info">								
					<h3>Академик Фортов</h3>
					<p>Президент РАН, Академик Фортов В.Е., Москва</p>
					<p>Был разработан сайт, проведена рекламная кампания по продвижению сайта в интернете (контекстная реклама Яндекс.Директ, Google.Adwords, SEO-оптимизация сайта). </p>
				</div>
			</div>
			<div class="featured-box item text-center">
				<%= image_tag("_uf.jpg", class: "img-responsive img-thumbnail") %>
				<div class="featured-info">								
					<h3>Юридическая фирма</h3>
					<p>Юридическая фирма "Консалт-Гарант", Москва</p>
					<p>Перенос сайта на Drupal 7, разработан функционал: калькулятор стоимости услуг, формирование счета на оплату, оплата по банковским картам, онлайн-консультант Jivosite. </p>
				</div>
			</div>
			<div class="featured-box item text-center">
				<%= image_tag("_turandot.jpg", class: "img-responsive img-thumbnail") %>						
				<div class="featured-info">								
					<h3>Клубный дом</h3>
					<p>Клубный дом TURANDOT RESIDENCE, Москва</p>
					<p>Для девелоперской компании в сфере элитной недвижимости доработан сайт на Wordpress: google-карта с отображением инфраструктурных объектов, актуализирована структура меню.</p>
				</div>
			</div>
			<div class="featured-box item text-center">
				<%= image_tag("_antok.jpg", class: "img-responsive img-thumbnail") %>						
				<div class="featured-info">								
					<h3>Некоммерческая организация</h3>
					<p>АНТОК, Москва</p>
					<p>Разработан сайт-визитка на Drupal и личный кабинет на Ruby on Rails с функционалом: подача заявок на конференцию, заполнения анкеты члена ассоциации, подписка на новости.</p>
				</div>
			</div>					
			<div class="featured-box item text-center">
				<%= image_tag("_katren.jpg", class: "img-responsive img-thumbnail") %>						
				<div class="featured-info">								
					<h3>Экспедиторская компания</h3>
					<p>Экспедиторская компания "Катрен-экспресс", Новосибирск</p>
					<p>Разработан сайт-визитка, модуль "Калькулятор расстояний" для расчета стоимости перевозки и времени в пути. Рекламная кампания (Яндекс.Директ, Google.Adwords).</p>
				</div>
			</div>
			<div class="featured-box item text-center">
				<%= image_tag("_kuracija.jpg", class: "img-responsive img-thumbnail") %>						
				<div class="featured-info">								
					<h3>Медицинский центр</h3>
					<p>Медицинский центр "Курация", Новосибирск</p>
					<p>Разработан сайт-визитка на Drupal 7, модули запись на прием, новости. Запущена контекстная реклама (Яндекс.Директ, Google.Adwords), настроены цели в Google.Analytics.</p>
				</div>
			</div>
			<div class="featured-box item text-center">
				<%= image_tag("_direkta.jpg", class: "img-responsive img-thumbnail") %>						
				<div class="featured-info">								
					<h3>Производственная компания</h3>
					<p>Производственная компания "Директа", Новосибирск</p>
					<p>Разработан сайт-визитка на Drupal 7, проведена SEO-оптимизация и продвижение в бесплатном поиске, Яндекс.Директ, Google.Adwords, настроены цели в Google.Analytics.</p>	
				</div>
			</div>
			<div class="featured-box item text-center">
				<%= image_tag("_elios.jpg", class: "img-responsive img-thumbnail") %>						
				<div class="featured-info">								
					<h3>Магазин цветов</h3>
					<p>Магазин цветов "Элиос", Новосибирск</p>
					<p>Разработан интернет-магазин на Drupal 6 с модулем Ubercart 2, проведена SEO-оптимизация и продвижение в бесплатном поиске, Яндекс.Директ, Google.Adwords.</p>
				</div>
			</div>					
		</div>
		<!-- ./featured-list -->				
	</div>
			
</div>
<!-- ./Клиенты -->

<!-- Партнеры -->
<div id="showcase" class="fullSection">
	<div class="container">
		<div class="row">						
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInLeft showdelay2">
					<%= image_tag("1jivosite.png", class: "img-responsive img-thumbnail", width: "50%") %>
					<h3>Онлайн-чат JivoSite</h3>
					<p>Онлайн консультант JivoSite установлен на 44% российских сайтов, использующих чат. ​Об этом говорят результаты независимого исследования, проведенного в августе 2015 года.</p>
					<a href="http://www.jivosite.ru?partner_id=989&lang=ru&pricelist_id=5" class="btn btn-custom btn" target="_blank">Подробнее о JivoSite</a>
				</div>
			</div>						
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInUp showdelay2">
					<%= image_tag("1iddetector.png", class: "img-responsive img-thumbnail", width: "50%") %>
					<h3>Сервис ID-detector</h3>
					<p>Уникальный маркетинговый инструмент для работы с вашим сайтом, который позволяет получить контактные данные 95% ушедших посетителей. Увеличение конверсии из посетителей в заявку (до 40%).</p>
					<a href="http://id-detector.ru/" class="btn btn-custom btn" target="_blank">Подробнее о ID-detector</a>	
				</div>
			</div>					
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInRight showdelay2">
					<%= image_tag("1insales.png", class: "img-responsive img-thumbnail", width: "50%") %>
					<h3>Платформа InSales</h3>
					<p>Платформа для интернет-магазина InSales. Создание интернет магазина за 1 день, без программиста, надежный хостинг, поддержка 24х7, готовые шаблоны дизайна, интеграция доставки, оплаты и 1С, продвижение магазина</p>
					<a href="http://www.insales.ru/signup?aff=0fa63d3b2" class="btn btn-custom btn" target="_blank">Подробнее об InSales</a>					
				</div>
			</div>						
		</div>
		<div class="row">						
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInLeft showdelay2">
					<%= image_tag("1payonline.png", class: "img-responsive img-thumbnail", width: "50%") %>
					<h3>Платежная система PayOnline</h3>
					<p>Платежные решения для всех типов интернет-бизнеса. Отличное решение для оплаты по картам на сайте интернет-магазина</p>
					<a href="https://payonline.ru/education/payments/" class="btn btn-custom btn" target="_blank">Подробнее о PayOnline</a>
				</div>
			</div>						
			<div class="col-md-4 col-sm-4">
				<div class="icon-box text-center wow fadeInUp showdelay2">
					<%= image_tag("1bitrix2.gif", class: "img-responsive img-thumbnail", width: "50%") %>
					<h3>1С-Битрикс</h3>
					<p>Популярная CMS для вашего сайта. Сайт-визитка. Корпоративный портал. </p>
					<a href="http://www.1c-bitrix.ru/products/" class="btn btn-custom btn" target="_blank">Подробнее об 1С-Битрикс</a>
				</div>
			</div>						
		</div>
	</div>
			
</div>
<!-- ./Партнеры -->

<!-- Команда -->
<div id="team" class="fullSection">
	<div class="container">
	
		<div class="section-heading">
			<h2>Наша команда</h2>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<div class="team-box">
					<div class="team-image">
						<%= image_tag("team1.jpg", class: "img-circle") %>
					</div>
					<div class="team-info">
						<h3>Михаил</h3>
						<b>Программист</b>
						<p>Занимаюсь разработкой серверной (ruby on rails, php) и клиентской части (html, javascript, css) сайтов.  </p>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/klishevich"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/busation"><i class="fa fa-twitter"></i></a></li>
							<li><a href="http://vk.com/klishevich"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>													
			</div>
			
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<div class="team-box">
					<div class="team-image">
						<%= image_tag("team2.jpg", class: "img-circle") %>
						
					</div>
					<div class="team-info">
						<h3>Мария</h3>
						<b>Специалист по продвижению</b>
						<p>Занимаюсь продвижением сайтов (SEO-оптимизация), рекламой в интернете (Яндекс.Директ, Google.Adwords) и в социальных сетях (Facebook, ВКонтакте).</p>
						<ul class="team-social">
							<li><a href="http://vk.com/id95323247"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>													
			</div>
			
		</div>
		<!-- /row -->
		
		<div class="row">
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<div class="team-box">
					<div class="team-image">
						<%= image_tag("team3.jpg", class: "img-circle") %>					
					</div>
					<div class="team-info">
						<h3>Татьяна</h3>
						<b>Веб-дизайнер</b>
						<p>Разрабатываю красивый и функциональный дизайн и корпоративный стиль (логотипы, баннеры, визитки, бланки), рисую.</p>
						<ul class="team-social">
							<li><a href="https://vk.com/id9711991"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>													
			</div>
			
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<div class="team-box">
					<div class="team-image">
						<%= image_tag("team4.jpg", class: "img-circle") %>
						
					</div>
					<div class="team-info">
						<h3>Максим</h3>
						<b>Руководитель проектов</b>
						<p>Встречаюсь с клиентами в Москве, общаюсь, обучаю, помогаю найти оптимальное решение. Обеспечиваю исполнение задач в срок.</p>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/maxim.klishevich"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div>
				</div>													
			</div>

			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<div class="team-box">
					<div class="team-image">
						<%= image_tag("team5.jpg", class: "img-circle") %>
						
					</div>
					<div class="team-info">
						<h3>Александра</h3>
						<b>Интернет-маркетолог</b>
						<p>Занимаюсь разработкой стратегии по продвижению, составляю прогноз продаж, A/B тестирование, расчет лидов.</p>
						<ul class="team-social">
							<li></li>
						</ul>
					</div>
				</div>													
			</div>
		</div>
		<!-- /row -->

	</div>
			
</div>
<!-- ./Команда -->

<!-- Цены -->
<div id="pricing" class="fullSection">
	<div class="container">
	
		<div class="section-heading">
			<h2>Цены</h2>
		</div>
		
		<div class="row">
			
			<div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
				<div itemscope itemtype="http://schema.org/Product" class="price-box text-center">	
					<div class="price-title">
						<div itemprop="name">РАЗРАБОТКА САЙТА</div>
						<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
							<span>30 т.р.</span>
						    <meta itemprop="price" content="30000.00">
						    <meta itemprop="priceCurrency" content="RUB">
						    <link itemprop="availability" href="http://schema.org/InStock">
						</span>
					</div>
					<ul class="unstyled price-list">
						<li itemprop="description">Указана стоимость разработки сайта-визитки с типовым дизайном</li>
						<li>Для сложных проектов цена рассчитывается индивидуально</li>
					</ul>
					<div class="price-action">
						<a href="/messages/new?type=site" class="btn btn-custom">Заказать</a>	
					</div>
				</div>
			</div>
								
			<div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
				<div itemscope itemtype="http://schema.org/Product" class="price-box text-center">	
					<div class="price-title">
						<div itemprop="name">ИНТЕГРАЦИЯ, МОБИЛЬНЫЕ API</div>
						<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
							<span>от 30 т.р.</span>
						    <meta itemprop="price" content="30000.00">
						    <meta itemprop="priceCurrency" content="RUB">
						    <link itemprop="availability" href="http://schema.org/InStock">
						</span>
					</div>
					<ul class="unstyled price-list">
						<li itemprop="description">Разработка модулей интеграции и API-приложений</li>
						<li>Стоимость разработки зависит от количества реализуемых методов</li>
					</ul>
					<div class="price-action">
						<a href="/messages/new?type=api" class="btn btn-custom">Заказать</a>	
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
				<div itemscope itemtype="http://schema.org/Product" class="price-box text-center">	
					<div class="price-title">
						<div itemprop="name">ПРОДВИЖЕНИЕ САЙТА</div>
						<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
							<span>10 т.р.</span>
						    <meta itemprop="price" content="10000.00">
						    <meta itemprop="priceCurrency" content="RUB">
						    <link itemprop="availability" href="http://schema.org/InStock">
						</span>
					</div>
					<ul class="unstyled price-list">
						<li itemprop="description">Указана стоимость Яндекс.Директа с бюджетом рекламной компании - 8 т.р.</li>
						<li>И оплаты работ по ведению рекламной компании в течение месяца - 2 т.р.</li>
					</ul>
					<div class="price-action">
						<a href="/messages/new?type=seo" class="btn btn-custom">Заказать</a>	
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
				<div itemscope itemtype="http://schema.org/Product" class="price-box text-center">	
					<div class="price-title">
						<div itemprop="name">СОПРОВОЖДЕНИЕ САЙТА</div>
						<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
							<span>5 т.р.</span>
						    <meta itemprop="price" content="5000.00">
						    <meta itemprop="priceCurrency" content="RUB">
						    <link itemprop="availability" href="http://schema.org/InStock">
						</span>
					</div>
					<ul class="unstyled price-list">
						<li itemprop="description">Указана стоимость сопровождения сайта в течение месяца</li>
						<li>При условии что объем работ не превышает 5 чел.-часов</li>
					</ul>
					<div class="price-action">
						<a href="/messages/new?type=support" class="btn btn-custom">Заказать</a>	
					</div>
				</div>
			</div>
			
		</div>
		<!-- /row -->
		
		

	</div>
			
</div>
<!-- ./Цены -->

<!-- Контакты -->
<div id="contact" class="fullSection">
    <%= render 'shared/contacts' %>			
</div>
<!-- ./Контакты -->

<!-- Афоризмы -->
<div id="grid" class="fullSection">
	<div class="container">
	
		<div class="section-heading">
			<h2>Афоризмы</h2>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<h3>Конфуций</h3>							
				<p>Не поговорить с человеком, который достоин разговора, значит потерять человека. А говорить с человеком, который разговора не достоин — значит терять слова. Мудрый не теряет ни людей, ни слов.</p>
			</div>
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<h3>Генри Форд</h3>
				<p>Каждый, кто перестает учиться — стареет, неважно в 20 или 80 лет, а любой другой, кто продолжает учиться остается молодым. Самое главное в жизни – это сохранить мозг молодым. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<h3>Сократ</h3>							
				<p>Природа наделила нас двумя ушами, двумя глазами, но лишь одним языком, дабы мы смотрели и слушали больше, чем говорили.</p>
			</div>
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<h3>Пифагор</h3>
				<p>Не гоняйся за счастьем: оно всегда находится в тебе самом. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<h3>Confucius Says</h3>							
				<p>A man of honor helps others to realize their best aims, but not their worst desires. A petty-minded man does the opposite.</p>
			</div>
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<h3>Jimi Hendrix</h3>
				<p>I'm the one that's got to die when it's time for me to die, so let me live my life the way I want to.</p>
			</div>					
		</div>		
		<div class="row">
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<h3>Mark Twain</h3>							
				<p>Good friends, good books, and a sleepy conscience: this is the ideal life.</p>
			</div>
			<div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
				<h3>Albert Einstein</h3>
				<p>Life is like riding a bicycle. To keep your balance, you must keep moving.</p>
			</div>
		</div>							
		<!-- /row -->
							
	</div>
			
</div>
<!-- ./Афоризмы -->
</span>
