    <%= simple_form_for(@message) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group"><%= f.input :mtype, :input_html => {:class => "form-control"} %></div>
      <div class="form-group"><%= f.input :name, :input_html => {:class => "form-control"} %></div>
      <div class="form-group"><%= f.input :email, :input_html => {:class => "form-control"} %></div>
      <div class="form-group"><%= f.input :phone, :input_html => {:class => "form-control"} %></div>
      <div class="form-group"><%= f.input :body, :input_html => {:rows => 4, :class => "form-control"} %></div>

      <div class="pull-right"><%= f.submit t(:save), class: "btn btn-custom "%></div>
    <% end %>