<h3>Админка: последние сообщения</h3>
<div class="span8">
<table class="table table-condensed" style="table-layout : fixed" width="100%">
  <thead>
    <tr>
      <th width="10%">created_at</th>
      <th width="5%">mtype</th>
      <th width="10%">name</th>
      <th width="15%">email</th>
      <th width="10%">phone</th>
      <th>body</th>
    </tr>
  </thead>
  <tbody>
  <% @messages.each do |msg| %>
    <tr>
      <td><%= msg.created_at.strftime('%d.%m.%Y %T')  %></td>
      <td><%= msg.mtype %></td>
      <td><%= msg.name %></td>
      <td><%= link_to msg.email, "mailto:#{msg.email}" %></td>
      <td><%= msg.phone %></td>
      <td><%= msg.body %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
